.container-big-card{
    border: 1px solid #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 20px;
    padding: 20px;
}

.big-card-image img{
    background-color: #fff;
    width: 100%;
}

.big-card-title h1{
    font-size: 25px;
    margin-top: 15px;
}

.big-card-description{
    margin-top: 10px;
}

.big-card-description p a{
    color: gray;
}