.menu-title-container{
    color: #fff;
}

.menu-title-container h1{
    margin: 15px 0px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.menu-title-container hr{
    margin: 5px 0px;
}