.container-small-card{
    max-width: 700px;
    display: flex;
}

.small-card-image img{
    width: 200px;
    height: 100%;
    margin-right: 20px;
}

.small-card-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-card-title h1{
    font-size: 20px;
}

.separator{
    margin: 15px 0px;
}